<!DOCTYPE html>
<html>
  <head>
    <title>测试</title>
    <script type="text/javascript" src="./libs/zepto.js"></script>
    <script type="text/javascript" src="./libs/underscore.js"></script>
    <script type="text/javascript" src="./libs/require.js"></script>
  </head>
  <body>

    <%-widget({
      name: 'type',
      model: 'type',
      controller: 'type'
    }); %>

	<%-widget({
      name: 'type',
      model: 'type',
      controller: 'type'
    }); %>
  </body>
</html>
